<div class="core-values boxed-container mobile-padding">
    <h2>Our Values</h2>
    <div class="core-values-container">
        <div class="left-section">
            <h3>Core Values</h3>
            <p>
                We remain true to the same principles on which our company was founded over a decade ago: providing
                superior service to our clients, putting safety first, creating opportunities for our people, delivering
                exceptional work, fostering innovation, acting with integrity, and strengthening our city. These tenets
                unite
                us as one company, and guide every aspect of our business.
            </p>
        </div>

        <div class="right-section">
            <div class="value-item">
                <div class="icon"></div>
                <h4>Exceptional Client Care</h4>
            </div>
            <hr>
            <div class="value-item">
                <div class="icon"></div>
                <h4>Commitment to Excellence</h4>
            </div>
            <hr>
            <div class="value-item">
                <div class="icon"></div>
                <h4>Upholding Integrity</h4>
            </div>
            <hr>
            <div class="value-item">
                <div class="icon"></div>
                <h4>Prioritizing Safety</h4>
            </div>
        </div>
    </div>
</div>