.login_left {
    width: 50%;
}

.login_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invalid-errors {
    color: red;
    font-size: 14px;
}

.login_right{
    margin-right:20px;
}