<div class="projects mobile-padding boxed-container">
    <div class="project-block">
        <img src="../../assets/images/upcoming projects.png" />
        <h5>Upcoming Projects</h5>
        <button class="view-all-btn">View all</button>
    </div>
    <div class="project-block">
        <img src="../../assets/images/ongoing projects.png" />
        <h5>Ongoing Projects</h5>
        <button class="view-all-btn">View all</button>
    </div>
    <div class="project-block">
        <img src="../../assets/images/completed projects.png" />
        <h5>Completed Projects</h5>
        <button class="view-all-btn">View all</button>
    </div>
</div>