<div class="about-section boxed-container">
    <div class="about-text mobile-padding">
        <h2>About <span>Archana Projects</span></h2>
        <p class="text-justified line-height-30">
            When Archana Projects made its entry into the construction field in 2004, there were only a few
            multi-storied apartments in Udupi. But the demand for flats to suit the modern lifestyle was on an increase.
            To meet the aspirations of the people of owning. The promoter of this project is Dr. Aravind Nayak Ammunje,
            who is a medical practitioner and a descendant of the reputed Ammunje family, known for their honesty,
            enthusiasm, and time-managing principles since last century. He is one of the famous family physicians of
            Udupi. With lots of positive thoughts and enthusiasm, he started the building activity to serve the society
            in a better way.
        </p>
        <button class="know-more-btn">Know More About Us</button>
    </div>

    <div class="about-quadrant">
        <div class="quadrant top-left">
            <span class="count">16+</span>
            <span class="label">Projects</span>
        </div>
        <div class="quadrant top-right">
            <span class="count">9+</span>
            <span class="label">Years Experience</span>
        </div>
        <div class="quadrant bottom-left">
            <span class="count">3k+</span>
            <span class="label">Clients</span>
        </div>
        <div class="quadrant quadrant-img bottom-right">
            <img src="../../assets/images/about archana projects.png" />
        </div>
    </div>

</div>